<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
	Bar（柱状图/条形图）
</h1>
<div>
	<p id="bar（柱状图条形图）">
		<a href="mycharts/mybar1.html" target="_blank"><span class="anchor"><span>Bar（柱状图/条形图）</span></span></a>
	</p>
	<p>
		<strong><strong><a class="ke-insertfile" href="mycharts/mybar2.html" target="_blank">mycharts/mybar2.html</a><br />
</strong></strong>
	</p>
	<p>
		<strong><a href="mycharts/mybar3.html" target="_blank"><strong><strong>多 dataZoom 效果，效果同时支持 X、Y 轴</strong></strong></a><br />
</strong>
	</p>
	<p>
		<strong>
		<h2 id="boxplot（箱形图）">
			<a href="mycharts/boxplot1.html" target="_blank"><span class="anchor"><span>Boxplot（箱形图）</span></span></a>
		</h2>
		<div>
			<h2 id="effectscatter（带有涟漪特效动画的散点图）">
				<a href="mycharts/Scatter1.html" target="_blank"><span class="anchor"><span>EffectScatter（带有涟漪特效动画的散点图）</span></span></a>
			</h2>
<br />
		</div>
</strong>
	</p>
	<p>
		<strong><br />
</strong>
	</p>
	<p>
		<strong><br />
</strong>
	</p>
	<p>
		<br />
<strong></strong>
	</p>
<br />
</div>
</body>
</html>